<md-toolbar class="md-scroll-shrink">
  <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
    <div>
      <md-button class="md-icon-button">
        <i class="material-icons">notes</i>
      </md-button>
    </div>
    <div>
      <h1>UPLOADS</h1>
    </div>
    <div>
      <md-button class="md-icon-button">
        <i class="material-icons">group</i>
      </md-button>
    </div>
  </div>
</md-toolbar>

<md-content class="background" flex>
  <h1>This is the tutor app</h1>
</md-content>
