<div class="height--full">
  <md-toolbar class="md-scroll-shrink background">
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
      <div>
        <md-button class="md-icon-button">
          <img src="img/notes.svg"/>
        </md-button>
      </div>
      <div>
        <h1 style="color: #263f4e; font-weight: bold">UPLOADS</h1>
      </div>
      <div>
        <md-button class="md-icon-button">
          <i style="color: #263f4e" class="material-icons">group</i>
        </md-button>
      </div>
    </div>
  </md-toolbar>
  <md-content class="background" flex>
    
  </md-content>
</div>
