<div layout="row" flex>

  <app-sidenav user="$ctrl.user"></app-sidenav>

  <md-content class="background" flex>

    <md-toolbar class="md-scroll-shrink background" flex>
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <div>
          <md-button ng-click="$ctrl.toggleLeft()" class="md-icon-button">
            <img src="img/notes.svg" />
          </md-button>
        </div>
        <div>
          <h1 style="color: #2b5570; font-weight: bold">UPLOADS</h1>
        </div>
        <div>
          <md-button ng-click="" class="md-icon-button">
            <i style="color: #2b5570" class="material-icons">group</i>
          </md-button>
        </div>
      </div>
    </md-toolbar>

    <md-content class="background" flex>
      <p>
        Uploads go here.
      </p>
    </md-content>

  </md-content>

  <md-sidenav class="md-sidenav-right sideNavLeft--width height--full background--baseColor" md-component-id="right" md-disable-backdrop md-is-locked-open="$mdMedia('gt-sm')" md-whiteframe="3" flex>

    <md-toolbar class="md-scroll-shrink background--baseColor" flex>
      <h1 layout="row" layout-align="center center" class="md-toolbar-tools text--center text--weightBold">STUDENTS</h1>
    </md-toolbar>

    <md-content class="background--baseColor" layout-margin>
      <p>
        This will be the tutor's student contact list.
      </p>
    </md-content>

  </md-sidenav>

</div>
