<md-card class="background sideNavRight__studentCard">
  <md-card-title layout="row" class="studentCard__content" flex>
    <div layout="row" layout-align="center center" style="background: #FF7241" class="sideNavRight__studentCard__initials" flex="35">
      <p class="sideNavRight__studentCard__initialsText">{{ $ctrl.initials }}</p>
    </div>
    <div layout="column" layout-align="center start" class="studentCard__contentText" flex="65">
      <p style="color: #2b5570" class="text--left text--weightBold text--upperCase md-body-1">{{ $ctrl.name }}</p>
      <p style="color: #2b5570" class="text--left text--upperCase md-caption">{{ $ctrl.subject }}</p>
    </div>
  </md-card-title>
</md-card>
