<md-toolbar class="md-scroll-shrink {{ $ctrl.toolbarStyle }}" flex>
  <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
    <div>
      <md-button ng-click="$ctrl.toggleLeft()" class="md-icon-button">
        <i style="color: {{ $ctrl.iconColor }}" class="material-icons">{{$ctrl.leftIcon}}</i>
      </md-button>
    </div>
    <div>
      <h1 class="text--weightBold text--upperCase" style="color:{{$ctrl.iconColor}}">{{ $ctrl.title }}</h1>
    </div>
    <div>
      <md-button ng-click="$ctrl.toggleRight()" class="md-icon-button">
        <i style="color: {{ $ctrl.iconColor }}" class="material-icons">{{$ctrl.rightIcon}}</i>
      </md-button>
    </div>
  </div>
</md-toolbar>
