<md-toolbar class="md-scroll-shrink background" style="width 100%" flex>
  <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
    <div>
      <md-button ng-click="$ctrl.toggleLeft()" class="md-icon-button">
        <img src="img/{{$ctrl.leftIcon}}.svg" />
      </md-button>
    </div>
    <div>
      <h1 class="text--weightBold text--upperCase" style="color: #2b5570">{{ $ctrl.title }}</h1>
    </div>
    <div>
      <md-button ng-click="" class="md-icon-button">
        <i style="color: #2b5570" class="material-icons">{{$ctrl.rightIcon}}</i>
      </md-button>
    </div>
  </div>
</md-toolbar>
