<form layout="column" layout-align="center center" name="authForm" novalidate ng-submit="$ctrl.submitForm();">
  <md-list layout="column" layout-align="center center">

    <div ng-if="$ctrl.button === 'Register'">
      <md-list-item layout="row" layout-align="space-between center">

        <div>
          <md-input-container layout="row" layout-align="center center" class="auth">
            <label class="auth__label auth__label--paddingName">FIRST NAME</label>
            <input class="auth__input auth__input--height auth__input--widthHalf auth__input--borderRadiusFirstName text--center text--font" type="text" name="firstname" ng-model="$ctrl.user.firstname" autocomplete="off" />
          </md-input-container>
        </div>

        <div>
          <md-input-container layout="row" layout-align="center center" class="auth">
            <label class="auth__label auth__label--paddingName">LAST NAME</label>
            <input class="auth__input auth__input--height auth__input--widthHalf auth__input--borderRadiusLastName text--center text--font" type="text" name="lastname" ng-model="$ctrl.user.lastname" autocomplete="off" />
          </md-input-container>
        </div>

      </md-list-item>
    </div>

    <div class="auth--marginTop">
      <md-list-item>
        <md-input-container layout="row" layout-align="center center" class="auth">
          <label class="auth__label auth__label--padding"><i class="material-icons md-16 auth__icon">email</i>EMAIL</label>
          <input class="auth__input auth__input--height auth__input--width text--font" type="email" name="email" ng-model="$ctrl.user.email" autocomplete="off" />
        </md-input-container>
      </md-list-item>
    </div>

    <div class="auth--marginTop">
      <md-list-item>
        <md-input-container layout="row" layout-align="center center" class="auth">
          <label class="auth__label auth__label--padding"><i class="material-icons md-16 auth__icon">lock</i>PASSWORD</label>
          <input class="auth__input auth__input--height auth__input--width text--font" type="password" name="password" ng-model="$ctrl.user.password" autocomplete="off" />
        </md-input-container>
        <p ng-if="$ctrl.button === 'Login'" ng-click="$ctrl.reset()" class="auth__reset">?</p>
      </md-list-item>
    </div>

    <div class="auth--marginTop">
      <md-list-item>
        <md-button type="submit" ng-disabled="authForm.$invalid" class="md-raised auth__button auth__input--height auth__input--width">
          <h1 class="auth__buttonText">{{ $ctrl.button }} as a {{ $ctrl.userType }}</h1>
        </md-button>
      </md-list-item>
    </div>


  </md-list>
</form>
