<form width="100%" name="authForm" novalidate ng-submit="$ctrl.submitForm();">
  <div width="100%" layout="column" layout-align="center center">
    <div>
      <img src="img/mughub_logo.png" width="210px" />
    </div>
    <div style="min-width:25%">

      <md-list>
        <md-list-item class="auth__listItem--marginTop">
          <md-input-container class="md-block" layout-fill>
            <!-- <label>Username</label> -->
            <input class="auth__input--style auth__input--height" type="email" name="email" ng-model="$ctrl.user.email" autocomplete="off" />
            <p class="auth__input__icon">
              <i style="vertical-align: middle; color: white;  margin: 0px 3px" class="material-icons md-22">person</i> USERNAME
            </p>
          </md-input-container>
        </md-list-item>
        <md-list-item layout-align="center center" layout="row" class="auth__listItem--marginTop">
          <md-input-container class="md-block auth__input" style="position: relative; width:100%">
            <!-- <label>Password</label> -->
            <input class="auth__input--style auth__input--height" type="password" name="password" ng-model="$ctrl.user.password" autocomplete="off" />
            <p class="auth__input__icon">
              <i style="vertical-align: middle; color: white; margin: 0px 5px" class="material-icons md-18">lock</i> PASSWORD
            </p>
          </md-input-container>
          <p ng-if="$ctrl.button === 'Login'" ng-click="$ctrl.onReset($event)" class="auth__forgot">?</p>
        </md-list-item>
      </md-list>

    </div>
    <div style="margin-top: -40px;">
      <md-button type="submit" ng-disabled="authForm.$invalid" class="md-raised auth__button auth__input--height">
        <h1 class="auth__buttonText">{{ $ctrl.button }}</h1>
      </md-button>
    </div>
  </div>
</form>
