<div layout="row" layout-align="space-between start" class="auth--animation width--full">

  <app-sidenav></app-sidenav>

  <div layout="column" layout-align="space-between center" class="uploads--height" layout-fill>
    <md-content class="background" layout-fill>
      <app-nav title="uploads" left-icon="notes" right-icon="group"></app-nav>
      <md-content layout="row" layout-align="center center" style="width: 100%" class="background">
        <upload layout="row" layout-align="center center" style="width: 100%"></upload>
      </md-content>
    </md-content>
    <div class="uploads__button">
      <md-fab-trigger class="position--right">
        <md-button layout="row" layout-align="center center" aria-label="menu" class="md-fab background--highlightColor">
          <i class="material-icons" style="color: #eaeaea;">create</i>
        </md-button>
      </md-fab-trigger>
    </div>
  </div>

  <div>
    <md-content>
      <md-sidenav class="md-sidenav-right sideNavRight--width height--full background--baseColor" md-component-id="right" md-disable-backdrop md-is-locked-open="$mdMedia('gt-sm')" md-whiteframe="3">
        <md-toolbar class="md-scroll-shrink background--baseColor">
          <h1 layout="row" layout-align="center center" class="md-toolbar-tools text--center text--weightBold">STUDENTS</h1>
        </md-toolbar>
        <md-content class="background--baseColor">
          <div ng-repeat="student in $ctrl.students" style="cursor: pointer">
            <student-card name="{{ student }}" subject="{{ $ctrl.subjects[$index] }}" initials="$ctrl.initialsArray[$index]"></student-card>
          </div>
        </md-content>
      </md-sidenav>
    </md-content>
  </div>

</div>
