<!-- <div layout="column" layout-align="center" class="auth--animation">
  <form width="100%" name="authForm" novalidate ng-submit="$ctrl.reset($ctrl.user.email)">
    <div width="100%" layout="column" layout-align="center center">
      <div style="min-width:25%">
        <md-list>
          <md-list-item>
            <md-input-container class="md-block" layout-fill>
              <label>Email</label>
              <input type="email" name="email" ng-model="$ctrl.user.email" autocomplete="off" />
            </md-input-container>
          </md-list-item>
        </md-list>
      </div>
      <div>
        <md-button type="submit" ng-disabled="authForm.$invalid" class="md-raised auth__button">
          <h1 class="auth__buttonText">RESET</h1>
        </md-button>
      </div>
    </div>
  </form>
  <center>
    <div>
      <a ng-click="$ctrl.onLogin($event)" class="auth__trans">Or login with an existing account.</a>
    </div>
  </center>
</div> -->
<div layout="column" layout-align="center" class="auth--animation">
  <div>
    <form layout="column" layout-align="center center" name="authForm" novalidate ng-submit="$ctrl.submitForm();">
      <md-list layout="column" layout-align="center center">

        <div>
          <md-list-item>
            <md-input-container layout="row" layout-align="center center" class="auth__input">
              <label style="color:  #eaeaea; font-size: 13px; font-family: 'Montserrat', sans-serif; padding: 5px 0px 0px 20px"><i style="vertical-align: middle; color:#eaeaea; margin:0px 4px 1px 4px" class="material-icons md-18">email</i>EMAIL</label>
              <input class="auth__input--style auth__input--height" type="email" name="email" ng-model="$ctrl.user.email" autocomplete="off" />
            </md-input-container>
          </md-list-item>
        </div>

        <div>
          <md-list-item class="auth__listItem--marginTop">
            <md-button type="submit" ng-disabled="authForm.$invalid" class="md-raised auth__button auth__input--height">
              <h1 class="auth__buttonText">RESET {{ $ctrl.userType }} ACOUNT</h1>
            </md-button>
          </md-list-item>
        </div>

      </md-list>
    </form>
  </div>
  <center>
    <div>
      <a ng-click="$ctrl.onLogin($event)" class="auth__trans">Or login with an existing account.</a>
    </div>
  </center>
</div>
