<!-- <md-card class="uploads__card background">
  <md-card-title class="uploads__cardTitle">
    <md-card-title-media>
      <img src="img/face.svg" class="uploads__cardImage"/>
    </md-card-title-media> -->
<!-- <div layout="row" layout-align="center center" style="background: #FF7241" class="sideNavRight__studentCard__initials">
      <p class="sideNavRight__studentCard__initialsText">J.T</p>
    </div> -->
<!-- <md-card-title-text>
      <span class="uploads__cardName">JANE DOE</span>
      <span class="uploads__cardSubject">AP U.S. HISTORY</span>
      <span class="uploads__cardDate"><i>Created January 21st</i></span>
    </md-card-title-text>
  </md-card-title>
  <md-card-actions layout="row" layout-align="end center">
    <md-button>EDIT</md-button>
    <md-button>DELETE</md-button>
  </md-card-actions>
</md-card> -->

<div>
  <md-card class="upload__card">
    <md-card-header class="upload__header">
      <md-card-avatar layout="row" layout-align="center center" class="background--highlightColor upload__headerInitials--width height--hundred">
        <p class="upload__headerInitials">
          {{ $ctrl.initials }}.
        </p>
      </md-card-avatar>
      <md-card-header-text class="upload__headerText">
        <span class="upload__headerName text--weightBold">{{$ctrl.name}}</span>
        <span class="upload__headerSubject">{{$ctrl.subject}}</span>
        <span class="upload__headerDate"><i>Created December 31st</i></span>
      </md-card-header-text>
    </md-card-header>
    <md-card-content>
      <p class="upload__contentTitle">Assignment Instructions</p>
      <p class="upload__content">{{$ctrl.assignment}}</p>
      <br />
      <p class="upload__contentTitle">Comments</p>
      <p class="upload__content">{{$ctrl.comments}}</p>
    </md-card-content>
  </md-card>
</div>
