<div ng-cloak class="width--full height--full">
  <md-content class="background height--full" layout="column" layout-align="center center">

    <div>
      <img src="img/mughub_logo.png" width="210px" />
    </div>

    <div class="width--full" style="margin-top: -30px;">
      <md-tabs class="auth__tabContainer width--full" md-center-tabs="true">

        <md-tab label="STUDENT">
          <md-content class="md-padding background">
            <login ng-if="!$ctrl.showRegister" on-register="$ctrl.toggleRegister()" user-type="STUDENT"></login>
            <register ng-if="$ctrl.showRegister" on-login="$ctrl.toggleRegister()" user-type="STUDENT"></register>
          </md-content>
        </md-tab>

        <md-tab label="TUTOR">
          <md-content class="md-padding background">
            <login ng-if="!$ctrl.showRegister" on-register="$ctrl.toggleRegister()" user-type="TUTOR"></login>
            <register ng-if="$ctrl.showRegister" on-login="$ctrl.toggleRegister()" user-type="TUTOR"></register>
          </md-content>
        </md-tab>

      </md-tabs>
    </div>

  </md-content>
</div>
