* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

root {
  display: block;
}

root .loader {
  position: absolute;
  top: 40%;
  left: 45%;
  font-size: 24px;
  display: block;
  text-align: center;
  font-weight: 900;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #5c5c5c;
  background-color: #eaeaea !important;
}

/* removes md-tabs slide animation */
md-tabs.md-no-animation md-tab-content {
  transition: none;
}

/* custom styling for md-tabs ink bar and background ripple color */
md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
  color: #de6600;
  background-color: #de6600;
}

/* custom styling for md-tabs active state */
md-tabs.md-default-theme .md-tab.md-active, md-tabs .md-tab.md-active, md-tabs.md-default-theme .md-tab.md-active md-icon, md-tabs .md-tab.md-active md-icon, md-tabs.md-default-theme .md-tab.md-focused, md-tabs .md-tab.md-focused, md-tabs.md-default-theme .md-tab.md-focused md-icon, md-tabs .md-tab.md-focused md-icon {
  color: #2b5570;
  font-weight: bold;
}

/* changing font-family and font-size for md-inputs */
md-input-container .md-input {
  font-size: 14px !important;
  font-family: 'Montserrat', sans-serif !important;
}


/* helper classes */
.background {
  background-color: #eaeaea !important;
}

.background--baseColor {
  background-color: #263f4e !important;
}

.background--mainColor {
  background-color: #2b5570 !important;
}

.background--highlightColor {
  background-color: #de6600 !important;
}

.width--full {
  width: 100vw !important;
}

.width--hundred {
  width: 100% !important;
}

.height--full {
  height: 100vh !important;
}

.text--center {
  text-align: center !important;
}

.text--left {
  text-align: left !important;
}

.text--right {
  text-align: right !important;
}

.text--font {
  font-family: 'Montserrat', sans-serif !important;
}

.text--weightBold {
  font-weight: bold !important;
}

.text--upperCase {
  text-transform: uppercase !important;
}

.position--right {
  float: right !important;
}

.position--left {
  float: left !important;
}

/*************************************** AUTH COMPONENT ***************************************/

md-input-container.auth {
  margin-bottom: 0;
  margin-top: 0;
}

/* adds padding inside rounded input field */
md-input-container.auth .md-input {
  padding: 0px 20px;
}

.auth--marginTop {
  margin-top: 5px;
}

.auth__label {
  color:  #eaeaea !important;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
}

.auth__label--padding {
  padding: 5px 0px 0px 20px !important;
}

.auth__label--paddingName {
  padding: 3px 0px 0px 35px !important;
}

.auth__icon {
  vertical-align: middle;
  color:#eaeaea;
  margin:0px 4px 1px 4px;
}

.auth__input {
  background-color: #2b5570 !important;
  border-radius: 33.5px !important;
  font-size: 13px;
  color: white !important;
}

.auth__input--height {
  height: 35px !important;
}

.auth__input--width {
  width: 284px !important;
}

.auth__input--widthHalf {
  width: 137px !important;
}

.auth__input--borderRadiusFirstName {
  border-radius: 33.5px 0px 0px 33.5px !important;
}

.auth__input--borderRadiusLastName{
  border-radius: 0px 33.5px 33.5px 0px !important;
}

.auth__reset {
  position: absolute;
  float: right;
  right: 40px;
  top: 15px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.auth__button {
  background-color: #de6600 !important;
  border-radius: 33.5px !important;
}

.auth__buttonText {
  text-align: center !important;
  margin: auto !important;
  font-size: 16.5px !important;
  color: white;
}

.auth__link {
  cursor: pointer;
  text-align: center;
  font-size: 10pt;
  padding-top: 20px;
  text-decoration: underline;
  color: #8B8C8C
}

/*************************************** LEFT SIDE-NAV ***************************************/

md-sidenav.sideNavLeft--width {
  width: 230px !important;
  min-width: 230px !important;
  max-width: 230px !important;
}

.sideNavLeft__userCard {
  height: 75px;
  margin: 8px 0px;
}

.sideNavLeft__options {
  margin: 7px 0px;
  width: 100%;
}

/*************************************** RIGHT SIDE-NAV ***************************************/

md-sidenav.sideNavRight--width {
  width: 270px !important;
  min-width: 270px !important;
  max-width: 270px !important;
}

.sideNavRight__studentCard {
  border-radius: 15px 0px 0px 0px;
  height: 75px;
  margin: 8px 20px;
}

.sideNavRight__studentCard__initials {
  border-radius: 15px 0px 0px 0px;
  margin-left: -5px;
  margin-top: -10px;
  min-height: 75px;
}

.sideNavRight__studentCard__initialsText {
  color: white;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  width: 50%;
}

md-card md-card-title.studentCard__content {
  padding: 10px 5px 10px;
}

.studentCard__contentText {
  margin-left: 10px;
}

/*************************************** UPLOADS ***************************************/

.uploads--height {
  height: 87vh;
}

.uploads__button {
  width: 100%;
  margin-right: 40px;
}

.uploads__card {
  border-radius: 15px;
  width: 550px
}

.uploads__cardName {
  font-size: 18px;
  color: #2b5570;
  font-weight: bold;
  text-transform: uppercase;
}

.uploads__cardSubject {
  font-size: 14px;
  color: grey;
  text-transform: uppercase;
}

.uploads__cardDate {
  font-size: 14px;
  color: #de6600;
  padding: 5px 0px;

}

.uploads__cardImage {
  width: 60px;
  margin-right: 15px;
}

md-card md-card-title.uploads__cardTitle {
  padding-bottom: 0px;
}

/*************************************** UPLOADER ***************************************/

/* change color of md-input when focused */
md-input-container.uploads:not(.md-input-invalid).md-input-focused .md-input {
    border-color: #de6600 !important;
}
md-input-container.uploads:not(.md-input-invalid).md-input-focused label {
    color: #de6600 !important;
}


md-sidenav.uploader--width {
  width: 550px !important;
  min-width: 550px !important;
  max-width: 550px !important;
}

/* md-sidenav.uploader--height {
  height: 95vh !important;
} */

.uploader__toolbar {
  text-align: center;
  font-weight: bold;
  color: #eaeaea;
}

.uploader__title {
  padding: 16px 16px 0px 16px;
  font-size: 15px;
  text-align: left;
  color: #2b5570;
}

.uploads__label {
  font-size: 13px;
  text-transform: uppercase;
}

.uploads__input--width {
  width: 347px !important;
}

.uploads__input--widthHalf {
  width: 171px !important;
}

.uploader__icon--active {
  color: #eaeaea !important;
}

.uploader__icon--disabled {
  color: grey !important;
}


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/MaterialIcons-Regular.eot");
  /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'), url("../fonts/MaterialIcons-Regular.woff2") format('woff2'), url("../fonts/MaterialIcons-Regular.woff") format('woff'), url("../fonts/MaterialIcons-Regular.ttf") format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.md-12 {
  font-size: 12px;
}

.md-14 {
  font-size: 14px;
}

.md-16 {
  font-size: 16px;
}

.md-18 {
  font-size: 18px;
}

.md-22 {
  font-size: 22px;
}

.md-24 {
  font-size: 24px;
}

.md-36 {
  font-size: 36px;
}

.md-48 {
  font-size: 48px;
}

#loading-bar, #loading-bar-spinner {
  pointer-events: none;
  -webkit-pointer-events: none;
  -webkit-transition: 350ms linear all;
  -moz-transition: 350ms linear all;
  -o-transition: 350ms linear all;
  transition: 350ms linear all;
}

#loading-bar-spinner.ng-enter, #loading-bar-spinner.ng-leave.ng-leave-active, #loading-bar.ng-enter, #loading-bar.ng-leave.ng-leave-active {
  opacity: 0;
}

#loading-bar-spinner.ng-enter.ng-enter-active, #loading-bar-spinner.ng-leave, #loading-bar.ng-enter.ng-enter-active, #loading-bar.ng-leave {
  opacity: 1;
}

#loading-bar .bar {
  -webkit-transition: width 350ms;
  -moz-transition: width 350ms;
  -o-transition: width 350ms;
  transition: width 350ms;
  background: #29d;
  position: fixed;
  z-index: 10002;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}

#loading-bar .peg {
  position: absolute;
  width: 70px;
  right: 0;
  top: 0;
  height: 2px;
  opacity: 0.45;
  -moz-box-shadow: #29d 1px 0 6px 1px;
  -ms-box-shadow: #29d 1px 0 6px 1px;
  -webkit-box-shadow: #29d 1px 0 6px 1px;
  box-shadow: #29d 1px 0 6px 1px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 10002;
  top: 10px;
  left: 10px;
}

#loading-bar-spinner .spinner-icon {
  width: 14px;
  height: 14px;
  border: 2px solid transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;
  -webkit-animation: loading-bar-spinner 400ms linear infinite;
  -moz-animation: loading-bar-spinner 400ms linear infinite;
  -ms-animation: loading-bar-spinner 400ms linear infinite;
  -o-animation: loading-bar-spinner 400ms linear infinite;
  animation: loading-bar-spinner 400ms linear infinite;
}

@-webkit-keyframes loading-bar-spinner {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes loading-bar-spinner {
  0% {
    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes loading-bar-spinner {
  0% {
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes loading-bar-spinner {
  0% {
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loading-bar-spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Animations */

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.auth--animation {
  -webkit-animation: fadeIn 0.7s linear !important;
  -o-animation: fadeIn 0.7s linear !important;
  -moz-animation: fadeIn 0.7s linear !important;
  animation: fadeIn 0.7s linear !important;
}
